*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}

button {
  -webkit-tap-highlight-color: transparent;
}
